exports.config = function() {
  return process.env.NODE_ENV == 'production' ? {
    aws: {
      key: 'xxxxx',
      secret: 'xxxxx',
      bucket: 'xxxxx',
      port: 80    						   
    }
  } : {
    aws : {
      key: 'xxxxx',
      secret: 'xxxxx',
      bucket: 'xxxxx',
      port: 8080
    }
  };
};